build/
*/build/

*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
DartConfiguration.tcl
Testing/

brainfuck
test_brainfuck
brainfuck.log
test_brainfuck.log
tape_dump.txt
test_tape_dump.txt

.vscode/
.idea/

.DS_Store
Thumbs.db
